@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html {
    width: 100%;
}

body {
    --spoilbtn-width-switch: 2.5rem;
    --spoilbtn-height-switch: 1.25rem;
    --spoilbtn-size-slider: 1.0rem;
    --spoilbtn-pos-slider: 0.15rem;
    --spoilbtn-size-translate: 1.2rem;
}

* {
    padding: 0;
    margin: 0;
}

p, h1, h2, h3 {
    cursor: default;
}

a {
    cursor: pointer;
}

.navbar {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 2.75rem;
}

@media (max-width: 1080px) {
    .navbar {
        margin: 0.5rem 1.75rem;
    }
}
@media (max-width: 720px) {
    .navbar {
        margin: 0.5rem 0.2rem;
    }
}

.sitenameContainer {
    margin: 0.5rem 2.75rem;
}

.sitenameContainer svg {
    width: 12rem;
}

@media (max-width: 1080px) {

}
@media (max-width: 720px) {
    .sitenameContainer svg {
        width: 8.5rem;
    }
}

.sitenameContainer .st0{
    fill:#0C0C0C;
}
.sitenameContainer .st1{
    fill:#56AC2E;
}

.ytchannelInfoContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0.5rem 2.75rem 0.5rem 0;
}

p.ytchannelTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-right: 0.5rem;
    text-align: right;
}

@media (max-width: 1080px) {

}
@media (max-width: 720px) {
    p.ytchannelTitle {
        font-size: 1rem;
        margin-right: 0.5rem;
    }
}

#spoilMode {
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin: 0 8rem;
}

#spoilMode p {
    margin-right: 0.5rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: var(--spoilbtn-width-switch);
    height: var(--spoilbtn-height-switch);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--spoilbtn-height-switch);
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--spoilbtn-size-slider);
    width: var(--spoilbtn-size-slider);
    left: var(--spoilbtn-pos-slider);
    bottom: var(--spoilbtn-pos-slider);
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #f32121;
}

input:focus + .slider {
    box-shadow: 0 0 1px #f32121;
}

input:checked + .slider:before {
    -webkit-transform: translateX(var(--spoilbtn-size-translate));
    -ms-transform: translateX(var(--spoilbtn-size-translate));
    transform: translateX(var(--spoilbtn-size-translate));
}

.contenderContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    margin: 4rem 7rem 0;
}
@media (max-width: 1080px) {
    .contenderContainer {
        gap: 4rem;
        margin: 3rem 0 0;
    }
}
@media (max-width: 720px) {
    .contenderContainer {
        gap: 1rem;
        margin: 3rem 0.25rem 0;
    }
}

.contenderCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
}
@media (max-width: 720px) {
    .contenderCard {
        width: 12rem;
    }
}

.imgContainer {
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}
.imgContainer img {
    width: 100%;
}

.eliminateSymbol {
    z-index: 1;
    transform: translateY(-100%) scale(1.05);
}
.eliminateSymbol .st0 {
    opacity: 0.45;
}

.nameContender {
    font-family: 'Permanent Marker';
    font-size: 1.5rem;
    text-align: center;
}

.sociallinkContender {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.sociallinkContender svg {
    width: 2rem;
}

.videoContent {
    gap: 4rem;
    margin: 4rem 7rem 5rem;
}
@media (max-width: 1080px) {
    .videoContent {
        gap: 4rem;
        margin: 4rem 7rem 5rem;
    }
}
@media (max-width: 870px) {
    .videoContent {
        gap: 4rem;
        margin: 4rem 2.75rem 4rem;
    }
}

h2.titleVideocontent {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin: 1rem 0;
}

.videoCardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}
@media (max-width: 1080px) {
    .videoCardContainer {
        gap: 4rem;
    }
}
@media (max-width: 870px) {
    .videoCardContainer {
        gap: 1rem;
        margin: 1rem 0;
    }
}

.videoCard {
    width: calc(100% / 3 - 100% * 0.05);
}
@media (max-width: 1080px) {
    .videoCard {
        width: calc(100% / 2 - 100% * 0.05);
    }
}
@media (max-width: 870px) {
    .videoCard {
        width: calc(100% / 1 - 100% * 0.05);
    }
}

.videoTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.videoDatetime {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.videoDiedname {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

footer {
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 1rem;
    background-color: khaki;
    padding: 1rem 0 0.75rem;
}